#  PDA_Projcet_2

In [2]:
import pandas as pd

1.

In [3]:
# read the text file into a DataFrame
df = pd.read_csv('data/EPICA Dome C Ice Core 800KYr 2007.txt', sep='\s+', skiprows=91).dropna()

df.head()

df=df.drop(['Bag','ztop','Deuterium'],axis=1)
df = pd.read_csv('data/EPICA Dome C Ice Core 800KYr 2007.txt', sep='\s+', skiprows=91).dropna()

df.head()

df=df.drop(['Bag','ztop','Deuterium'],axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5785 entries, 12 to 5799
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          5785 non-null   float64
 1   Temperature  5785 non-null   float64
dtypes: float64(2)
memory usage: 135.6 KB

In [7]:
df.head(10)

          Age  Temperature
12   38.37379         0.88
13   46.81203         1.84
14   55.05624         3.04
15   64.41511         0.35
16   73.15077        -0.42
17   81.93244         0.05
18   90.75925         0.05
19   99.97031        -0.52
20  109.88879         0.79
21  119.25888        -0.55

In [10]:

df.describe()

                 Age  Temperature
count    5785.000000  5785.000000
mean   190506.560624    -4.580228
std    192554.547328     3.446971
min        38.373790   -10.580000
25%     46793.812500    -7.450000
50%    122110.190000    -5.200000
75%    273338.430000    -1.820000
max    801662.000000     5.460000

In [8]:
import pandas as pd
import os


# folder location
input_folder = r'C:\Users\PC\DA\PDA_Project_2\data'

# files names
filename01='41586_2008_BFnature06949_MOESM31_ESM.xls'
filename02='epicaDC.deuttemp.EDC3-AICC.xls'
filename03='grl52461-sup-0003-supplementary.xls'

In [13]:
pip install xlrd
conda install -c conda-forge xlrd


!pip install xlrd

SyntaxError: invalid syntax (3140931308.py, line 1)

In [17]:
# READ THE THE SHEETS FROM FILES

# 3 sheets from first file
co2_new = pd.read_excel(os.path.join(input_folder,filename01),sheet_name='1.  new CO2 data',skiprows=6)
vostok = pd.read_excel(os.path.join(input_folder,filename01),sheet_name='2.  Vostok-TD-Dome C',skiprows=6)
co2_composite = pd.read_excel(os.path.join(input_folder,filename01),sheet_name='3.  Composite CO2',skiprows=6)

In [18]:
co2_composite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EDC3_gas_a (yr)  1096 non-null   int64
 1   CO2 (ppmv)       1096 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 17.2 KB

In [19]:
co2_composite.head()

   EDC3_gas_a (yr)  CO2 (ppmv)
0              137       280.4
1              268       274.9
2              279       277.9
3              395       279.1
4              404       281.9

In [20]:

# second file
epica = pd.read_excel(os.path.join(input_folder,filename02))

In [22]:
epica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819 entries, 0 to 5818
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bag           5819 non-null   int64
 1   ztop          5819 non-null   float64
 2   EDC3béta      5819 non-null   float64
 3   AICC2012      5819 non-null   float64
 4   deutfinal     5804 non-null   float64
 5   temp          5819 non-null   float64
 6   acc-EDC3beta  5819 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 318.4 KB

In [21]:
epica.head()

   bag  ztop  EDC3béta   AICC2012  deutfinal   temp  acc-EDC3beta
0    1  0.00 -50.00000 -55.000000        NaN  218.3      3.105321
1    2  0.55 -43.55977 -50.513333        NaN  218.3      3.104805
2    3  1.10 -37.44019 -46.026667        NaN  218.3      3.104404
3    4  1.65 -31.64156 -41.540000        NaN  218.3      3.104025
4    5  2.20 -24.55278 -34.516667        NaN  218.3      3.103453

In [23]:
# 2 sheets from third file
sup_all_records=pd.read_excel(os.path.join(input_folder,filename03),sheet_name='all records',skiprows=6)
co02_composite02=pd.read_excel(os.path.join(input_folder,filename03),sheet_name='CO2 Composite',skiprows=14)

In [25]:
co02_composite02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901 entries, 0 to 1900
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gasage (yr BP)         1901 non-null   float64
 1   CO2 (ppmv)             1901 non-null   float64
 2   sigma mean CO2 (ppmv)  1901 non-null   float64
dtypes: float64(3)
memory usage: 44.7 KB

In [26]:
co02_composite02.head()

   Gasage (yr BP)   CO2 (ppmv)  sigma mean CO2 (ppmv)
0       -51.030000  368.022488               0.060442
1       -48.000000  361.780737               0.370000
2       -46.279272  359.647793               0.098000
3       -44.405642  357.106740               0.159923
4       -43.080000  353.946685               0.043007

In [28]:
sup_all_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Columns: 108 entries, Depth (m) to upper bound (2 sigma) of correction F. (ppmv)
dtypes: float64(103), object(5)
memory usage: 330.9+ KB

In [29]:
sup_all_records.head()

,Depth (m),"Gasage (EDC3, yr BP)","Gasage (AICC2012, yr BP)",CO2 (ppmv),sigma mean CO2 (ppmv),Depth (m).1,"Gasage (EDC3, yr BP).1","Gasage (AICC2012, yr BP).1",CO2 (ppmv).1,Depth (m).2,...,"Gasage (WDC06A-7, yr BP).1",CO2 (ppmv).19,sigma mean CO2 (ppmv).16,Depth (m).19,"Gasage (AICC2012, yr BP).13",corrected CO2 (ppmv),analytical sigma mean CO2 (ppmv),Correcting Factor (ppmv),lower bound (2 sigma) of correction F. (ppmv),upper bound (2 sigma) of correction F. (ppmv)
0,102.83,137.0,350.110103,280.4,1.8,149.1,2690.0,NaN,284.7,380.82,...,8893.213,267.902828,3.369565,2950.5275,562654.671212,234.065089,0.938515,0.0,0.0,0.45076
1,106.89,268.0,486.693200,274.9,0.7,173.1,3897.0,3661.9285,272.7,382.42,...,8985.488,265.447325,1.429392,2951.8225,563135.783333,240.114724,2.126252,0.0,0.0,0.49078
2,107.20,279.0,501.195000,277.9,0.7,177.4,4124.0,3746.6270,268.1,382.76,...,9080.986,268.861214,1.418332,2952.9225,563536.650000,242.288114,0.513847,0.0,0.0,0.52478
3,110.25,395.0,539.649455,279.1,1.3,228.6,6735.0,6449.1760,262.2,383.54,...,9176.945,263.952432,1.853741,2954.0225,563928.766667,245.694323,1.769919,0.0,0.0,0.55879
4,110.50,404.0,539.894909,281.9,1.1,250.3,7873.0,7567.3510,254.5,385.33,...,9274.864,270.597511,3.848356,2955.1225,564311.433333,245.812943,0.493195,0.0,0.0,0.59281