#  PDA_Projcet_2

In [5]:
import pandas as pd

In [9]:
# read the text file into a DataFrame
df = pd.read_csv('data/EPICA Dome C Ice Core 800KYr 2007.txt', sep='\s+', skiprows=91).dropna()

df.head()

df=df.drop(['Bag','ztop','Deuterium'],axis=1)
df = pd.read_csv('data/EPICA Dome C Ice Core 800KYr 2007.txt', sep='\s+', skiprows=91).dropna()

df.head()

df=df.drop(['Bag','ztop','Deuterium'],axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5785 entries, 12 to 5799
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          5785 non-null   float64
 1   Temperature  5785 non-null   float64
dtypes: float64(2)
memory usage: 135.6 KB

In [7]:
df.head(10)

          Age  Temperature
12   38.37379         0.88
13   46.81203         1.84
14   55.05624         3.04
15   64.41511         0.35
16   73.15077        -0.42
17   81.93244         0.05
18   90.75925         0.05
19   99.97031        -0.52
20  109.88879         0.79
21  119.25888        -0.55

In [10]:

df.describe()

                 Age  Temperature
count    5785.000000  5785.000000
mean   190506.560624    -4.580228
std    192554.547328     3.446971
min        38.373790   -10.580000
25%     46793.812500    -7.450000
50%    122110.190000    -5.200000
75%    273338.430000    -1.820000
max    801662.000000     5.460000